<h1>Hello, world!</h1>
<p>Welcome to your new single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>

<ul>
  <li>Start the task runner process for the Angular app</li>
  <li>Start the web api</li>
  <li>Navigate to the signin tab/page, and sign in</li>
  <li>Navigate to the contacts tab/page, click on generate until you get bored</li>
  <li>Test editing, deleting, and pagination</li>
</ul>

<p>Very VERY rough implementation, but covers the instructions, plus authentication, JWT support, etc.</p>
